
.main-div{
    background-image: url("../images/currency-background.avif");
}
.header nav ul{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items:flex-end;
    justify-content: center;
    background-color: rgb(48, 186, 48);
    padding:10px;
    border-radius: 15px;
    gap:40px;
}
.header ul a{
    text-decoration: none;
    padding:10px 30px;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
}
.header ul a:hover{
    color:white;
}
.lo-head{
    display:flex;
    align-items:center;
    justify-content:center;
    
}
.lo-head img{
    width:10px;

}
.register,.clear{
    color:black;
    background-color: aqua;
    border:none;
    padding:10px;
    border-radius: 20px;
    margin:20px;
    cursor: pointer;
}
.form-container{
    width:350px;
    margin:0 auto;
    text-align: left;
}
.form-row {
    display: grid;
    grid-template-columns: 150px 1fr;
    margin-bottom: 12px;
    align-items: center;
    column-gap: 10px;
}
.form-row label{
    font-weight: bold;
}
input,textarea{
    width:100%;
    padding:6px;
}