<!DOCTYPE html>
<html lang="en">
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mystatic/style.css' %}">
    <title>Document</title>
<body>
    <center>
        <h2 style="color:green">Successfully fetched balance is</h2>
        <form POST>
            {% csrf_token %}
            <table border="2">
            <tr>
                <th>ACCOUNT NUMBER</th>
                <th>USERNAME</th>
                <th>AMOUNT</th>
                <th>ADDRESS</th>
                <th>PHONE</th>
            </tr>
            <tr>
                <td>{{bank.account_no}}</td>
                <td>{{bank.name}}</td>
                <td>{{bank.amount}}</td>
                <td>{{bank.address}}</td>
            </tr>
        </table>
        </form>
    </center>
    
</body>
</html>