<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Trnsfer Account Form</h1>
    <p>The existing account balance is : {{existed_amount}}</p>
    <p>Th Transfer Amount is : {{target_deposit_amount}}</p>
    <p>After Transfer my account balance is: {{after_transfer_balance}}</p>
    <p>Target Account Balance" {{target_existed_amount}}</p>
    <p>After Transfer Target Account Balance is : {{target_balance}}</p>
    <p style="color:green;">Balance Added Successfully..</p>
</body>
</html>